<!DOCTYPE html>
<html>
    <head>
        <title>Game Mata Mosquito</title>
        <meta charset="UTF-8">
        <script src="script.js"></script>
    
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body onresize="ajustaTamanho()" >
        <div class="painel">
            <div class="vidas">
                <img id="c1" src="imagens/coracao_cheio.png">
                <img id="c2" src="imagens/coracao_cheio.png">
                <img id="c3" src="imagens/coracao_cheio.png">
            </div>
            <div class="cronometro"> Tempo restante: <span id="cron"></span> </div>
        </div>
        <script>
            document.getElementById("cron").innerHTML = tempo

            // Funcao set interval executa primeiro parametro a cada 1000 milisegundos, primeiro parametro e uma funcao descritiva
            var criaMosca = setInterval(function() {
                elementoRandomico()
            }, 2000)

            
        </script>
    </body>
</html>