<!doctype html>
<html lang="pt-br">
  <head>

    <title>Game Mata Mosquito - Game Over</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="estilo.css">

    <!-- Script do Game-->
    <script src="script.js"></script>
  </head>

  <body>

    <div class="container align-content-center">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <img src="imagens/game.png">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center">
            <a href="app.html" style="text-decoration:none;">
              <button class="btn btn-dark p-3 text-light btn-lg" onclick=configuraGame() >
              Iniciar
            </button></a>
          </div>
        </div>
      </div>
      <!-- Incremento Futuro, merge Github para implementar nova versao
      <div class="row texto">
        <h3>
          Nivel
        </h3>
        <h3>
          Alvos
        </h3>
        <h3>
          Armas
        </h3>

      </div>
      <div class="sel row">
        <div>
          <select id="nivel" style="width: 150px;height:40px;" class="btn-outline-light">
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
          </select>
  
        </div>
        <div>
          <select id="alvos" style="width: 150px;height:40px;" class="btn-outline-light">
            <option value="1">Moscas</option>
            <option value="2">Baratas</option>
            <option value="3">Besouros</option>
          </select>
  
        </div>
        <div>
          <select id="armas" style="width: 150px;height:40px;" class="btn-outline-light">
            <option value="1">Raquete</option>
            <option value="2">Mira</option>
            <option value="3">Vassoura</option>
          </select>
  
        </div>
      </div>

    </div>

      -->

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>
